* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Vollkorn", serif;
}

.page-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2em;
  transition: 0.5s ease;
  scroll-behavior: smooth;
}

/* LIGHT THEME */

.lightTheme {
  background-color: rgb(243, 237, 230);
  color: rgb(46, 19, 19);
}

/* DARK THEME */

.darkTheme {
  background-color: rgb(29, 32, 30);
  color: rgb(245, 228, 228);
}

.darkTheme a {
  color: rgb(245, 228, 228);
}

.darkTheme h3 {
  color: rgb(245, 228, 228);
}

/* CONTENT */

a {
  /* text-decoration: none; */
  color: black;
}

ul,
ol {
  list-style-position: inside;
}

header {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-nav {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.header-nav a {
  margin-right: 15px;
}

/* POST INDEX */

.post {
  padding-top: 1.5em;
}

.post-title-link {
  display: block;
  text-decoration: none;
  color: black;
}

.post-title {
  font-size: 1.3em;
}

.post-excerp {
  margin-top: 15px;
  line-height: 150%;
}

/* POST INDIVIDUAL */

.post-header {
  margin-bottom: 1.5em;
}

.post-content p {
  margin-bottom: 15px;
  font-size: 1.1em;
  line-height: 1.7em;
}

/* FOOTER */

footer {
  text-align: center;
  margin-top: 3em;
  padding-bottom: 1em;
}

footer a {
  display: block;
  margin-bottom: 1.3em;
}

.about-wrapper {
  min-height: 100vh;
}

.nav-theme p {
  cursor: pointer;
  text-decoration: underline;
}
